@media screen and (max-width: 600px) {
    .btnIcon {
        border-radius: 25px;
        position: absolute;
        cursor: pointer;
        width: 50px;
        left: 20px;
    }   
    #toggleMode {
        top: 25px;
    }
    #ranDice {
        top: 80px;
    }
    .textDiv {
        font-weight: 900;
        font-size: 36pt;
        line-height: 1.2;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .textCircle {
        width: 10px;
        height: 10px;    
        transform: translate(5px, 26px);
    }
    #boundBox {
        width: 84vw;
    }
    #exScroll {
        width: 15px;
        right: 20px;
    }
    #textInput {
        bottom: 50px;
    }
    input,
    textarea,
    select {
        font-size: 16px;
    }
}
@media screen and (min-width: 600px) {
    .btnIcon {
        position: absolute;
        cursor: pointer;
        width: 60px;
        top: 25px;
        left: 25px;
    }    
    #toggleMode {
        top: 25px;
    }
    #ranDice {
        top: 90px;
    }
    .textDiv {
        font-weight: 700;
        font-size: 100pt;
        line-height: 1.2;
        margin-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;    
    }
    .textCircle {
        width: 20px;
        height: 20px;    
        transform: translateY(78px);
    }
    #boundBox {
        width: 75vw;
    }
    #exScroll {
        width: 20px;
        right: 30px;
    }
    #textInput {
        bottom: 100px;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.day-mode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.night-mode {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.non-clickable {
    pointer-events: none;
}

#exScroll {
    mix-blend-mode: multiply;
    border-radius: 10px;
    background: #ccc;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
}

#textInput {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#boundBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
}

#container {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.textDiv {
    word-break: keep-all;
    word-wrap: break-word;
    overflow: visible;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.textCircle {
    border-radius: 50%;
    background-color: #ff0000;
    display: inline-block;
    opacity: 0.0;
    position: absolute;
  }

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

.bouncing {
    animation: scaleAnimation 1.2s cubic-bezier(.15,.8,.6,1) forwards;
}