@media screen and (max-width: 900px) {
    .textDiv {
        font-weight: 900;
        font-size: 36pt;
        line-height: 1.2;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .textCircle {
        width: 10px;
        height: 10px;    
        transform: translate(5px, 26px);
    }
    #boundBox {
        width: 84vw;
    }
    #exScroll {
        width: 15px;
        right: 20px;
    }
    .aboutContent {
        width: 320px;
    }
    
    .headline {
        font-size: 36px;
    }
    
    .content {
        font-size: 20px;
        line-height: 1.6;
    }
    
    .hyperlink {
        font-size: 15px;
    }
}
@media screen and (min-width: 900px) {
    .textDiv {
        font-weight: 700;
        font-size: 100pt;
        line-height: 1.2;
        letter-spacing: -3px;
        margin-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;    
    }
    .textCircle {
        width: 20px;
        height: 20px;    
        transform: translateY(80px);
    }
    #boundBox {
        width: 75vw;
    }
    #exScroll {
        width: 20px;
        right: 20px;
    }
    .aboutContent {
        width: 820px;
    }
    
    .headline {
        font-size: 72px;
    }
    
    .content {
        font-size: 28px;
        line-height: 1.54;
    }
    
    .hyperlink {
        font-size: 18px;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.day-mode {
    background-color: rgb(255, 255, 255);
}

.night-mode {
    background-color: rgb(20, 20, 20);
}

.whiteText {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.blackText {
    color: rgb(0, 0, 0);
    /* text-shadow: 0px 0px 20px rgba(255, 255, 255, 1); */
}


body {
    font-family: "Noto Sans KR", sans-serif;
}

#allWithoutAbout {
    width: 100vw;
    overflow: hidden;
}

#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.non-clickable {
    pointer-events: none;
}

#exScroll {
    mix-blend-mode: multiply;
    border-radius: 10px;
    background: #ccc;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
}

.textInput {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 325px;
    bottom: 90px;
    background-color: #111111;
    color: white;
    border: 0;
    border-radius: 6px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 450;
    height: 40px;
    padding: 10px 14px 12px 14px;
}

#boundBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
}

#container {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.textDiv {
    word-break: keep-all;
    word-wrap: break-word;
    overflow: visible;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textCircle {
    border-radius: 50%;
    background-color: #ff0000;
    display: inline-block;
    opacity: 0.0;
    position: absolute;
  }

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

.bouncing {
    animation: scaleAnimation 1s cubic-bezier(.15,.8,.6,1) forwards;
}

#threeCanvas {
    position: absolute;
    opacity: 0.9;
    overflow: hidden;
    z-index: -1;
    filter: saturate(1.3);
}

#controlPanel {
    position: absolute;
    bottom: 85px;
    left: 50%;

    flex-direction: column;
    font-weight: 700;
    border: 2px #111111 solid;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 10px;
    width: 180px;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 14px;
    justify-content: space-evenly;
    align-items: stretch;
    
    display: none;
}

.textFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px 0px 0px;
}

.paramWithText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rangeInput{
    width: 100%;
    accent-color: #111111;
    cursor: pointer;
}

.dock {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width: 370px;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    width: 40px;
    cursor: pointer;
}

.meshCnts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.iconCube {
    width: 60px;
    cursor: pointer;
}

.iconCnt {
    width: 20px;
    cursor: pointer;
}

#num {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 3.25px;
}

#setCircle {
    display: none;
    position: absolute;
    z-index: -5;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px #111111 solid;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.66);
    right: 13px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.rotate {
    animation: spin 1s cubic-bezier(.15,.8,.6,1) forwards;
}

#chooseFile {
    display: none;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgBtn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #111111;
    border-radius: 4px;
    margin-top: 4px;
    padding: 2px 0px 3px 0px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.deleteImgList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    margin-top: 4px;
    padding: 2px 6px 3px 9px;
    color: #111111;
    font-weight: 400;
    cursor: pointer;
}

.deleteImg {
    background: url(./sources/ICON_plusDay.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}

.about {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 11;
}

.aboutDiv {
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: white;
    text-align: center;
    word-break: keep-all;
    word-wrap: break-word;

}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 20px 0px;
}

.headline {
    font-weight: 600;
    margin-bottom: 30px;
}

.content {
    font-weight: 500;
    margin-bottom: 40px;
}

a {
    color: white;
    font-weight: 400;
}

.credit {
    font-weight: 600;
    padding-bottom: 1px;
}

#iconText {
    display: flex;
    width: 335px;
    justify-content: space-between;

    color: white;
    font-size: 16px;
    margin: 20px 0px 40px 0px;
}

.iconSet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.iconContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.iconTheme {
    display: flex;
}

.iconMini {
    width: 30px;
    height: 30px;
    padding-bottom: 2px;
}

.iconMiddle {
    width: 45px;
    height: 45px;
    padding-bottom: 5px;
}