@media screen and (max-width: 600px) {
    .textDiv {
        font-weight: 900;
        font-size: 36pt;
        line-height: 1.2;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .textCircle {
        width: 10px;
        height: 10px;    
        transform: translate(5px, 26px);
    }
    #boundBox {
        width: 84vw;
    }
    #exScroll {
        width: 15px;
        right: 20px;
    }
    #textInput {
        width: 320px;
        bottom: 50px;
    }
    #controlPanel {
        width: 365px;
        height: 210px;
        flex-wrap: wrap;
        font-size: 14px;
        padding: 10px 10px 10px 10px;
        justify-content: space-evenly;
        align-items: stretch;
    }
    #panelPicker {
        width: 160px;
    }
    #panelAll {
        top: -210px;
        left: 50%;
        transform: translateX(-50%);
    }
    #line2 {
        display: none;
    }
    #firstToggle {
        margin-top: 0px;
    }
    .line {
        margin: 0px 15px 0px 15px;
    }
    #toggleBox {
        margin: 0px 15px 0px 15px;
    }
    #countBox {
        margin: 0px 15px 0px 15px;
    }
    #paramBox {
        height: 163px;
        margin: 0px 15px 0px 15px;
    }
    #num {
        width: 66px;
    }

    @keyframes panelMotionIn {
        0% {
            top: -210px;
        }
        100% {
            top: -2px;
        }
    }
    @keyframes panelMotionOut {
        0% {
            top: -2px;
        }
        100% {
            top: -210px;
        }
    }
}
@media screen and (min-width: 600px) {
    .textDiv {
        font-weight: 700;
        font-size: 100pt;
        line-height: 1.2;
        letter-spacing: -3px;
        margin-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;    
    }
    .textCircle {
        width: 20px;
        height: 20px;    
        transform: translateY(80px);
    }
    #boundBox {
        width: 75vw;
    }
    #exScroll {
        width: 20px;
        right: 20px;
    }
    #textInput {
        width: 350px;
        bottom: 80px;
    }
    #controlPanel {
        width: 220px;
        height: 520px;
        font-size: 17px;
        padding: 10px 20px 20px 20px;
        justify-content: space-around;
    }
    #panelPicker {
        width: 160px;
    }
    #panelAll {
        top: -520px;
        left: 20px;    
    }
    #countBox {
        margin-bottom: 5px;
    }
    #firstToggle {
        margin-top: 20px;
    }
    #num {
        width: 95px;
    }

    @keyframes panelMotionIn {
        0% {
            top: -520px;
        }
        100% {
            top: -22px;
        }
    }
    @keyframes panelMotionOut {
        0% {
            top: -22px;
        }
        100% {
            top: -520px;
        }
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.day-mode {
    background-color: rgb(255, 255, 255);
}

.night-mode {
    background-color: rgb(20, 20, 20);
}

.whiteText {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.blackText {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}


body {
    font-family: "Noto Sans KR", sans-serif;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.non-clickable {
    pointer-events: none;
}

#exScroll {
    mix-blend-mode: screen;
    border-radius: 10px;
    background: #ccc;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
}

#textInput {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111111;
    color: white;
    border: 0;
    border-radius: 6px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 450;
    height: 40px;
    padding: 10px 14px 12px 14px;

}

#boundBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
}

#container {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.textDiv {
    word-break: keep-all;
    word-wrap: break-word;
    overflow: visible;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.textCircle {
    border-radius: 50%;
    background-color: #ff0000;
    display: inline-block;
    opacity: 0.0;
    position: absolute;
  }

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

.bouncing {
    animation: scaleAnimation 1s cubic-bezier(.15,.8,.6,1) forwards;
}

#threeCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    overflow: hidden;
    z-index: -1;
}

.panelMotionIn {
    animation: panelMotionIn 1s cubic-bezier(.15,.8,.6,1) forwards;
}



.panelMotionOut {
    animation: panelMotionOut 1s cubic-bezier(.15,.8,.6,1) forwards;
}

#panelAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
}

#panelPicker {
    height: 38px;
    font-size: 19px;
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px 4.5px 15px;
    border-radius: 0px 0px 10px 10px;
    font-weight: 500;
    cursor: pointer;
}

#controlPanel {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    border: 2px #111111 solid;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 10px 10px;
}

#toggleBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px 0px 0px;
}

.toggleSwitch {
    width: 40px;
    height: 20px;
    display: block;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 1px;
  }
  
.toggleSwitch .toggleButton {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #111111;
}

[type="checkbox"]:checked ~ .toggleSwitch {
    background: #111111;
}

[type="checkbox"]:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 19px);
    background: #fff;
}

.toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
}

#saveImg {
    width: 40px;
    height: 20px;
    display: block;
    position: relative;
    border-radius: 20px;
    border: 0;
    background-color: #fff;
    background-image: url(./sources/saveImg.svg);
    cursor: pointer;
    margin-top: 1px;
}

.line {
    height: 1.5px;
    background: black;
    opacity: 0.4;
}

.paramWithText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rangeInput{
    width: 100%;
    accent-color: #ffffff;
    cursor: pointer;
}

#wrapper {
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plusminus {
    border: 2px rgb(255, 255, 255) solid;
    background: #ffffff;
    border-radius: 100%;
    height: 34px;
    width: 34px;
    font-size: 28px;
    font-weight: 200;
    color: black;
    cursor: pointer;
}

#minusCnt {
    background-image: url(./sources/minusCnt.svg);
}
#plusCnt {
    background-image: url(./sources/plusCnt.svg);
}

#num {
    border: 2px #111111 solid;
    background-color: #111111;
    border-radius: 30px;
    height: 36px;
    font-size: 20px;
    text-align: center;  
    color: white;
}

#arrow {
    width: 20px;
}