@media screen and (max-width: 600px) {
    .btnIcon {
        width: 45px;
        left: 20px;
    }   
    #toggleMode {
        top: 25px;
    }
    #ranDice {
        top: 80px;
    }
    #filter {
        top: 135px;
    }
    #filterBox {
        top: 135px;
        left: 80px;
    }
    #saveImg {
        top: 190px;
    }
    #record {
        top: 245px;
    }
    .textDiv {
        font-weight: 900;
        font-size: 36pt;
        line-height: 1.2;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .textCircle {
        width: 10px;
        height: 10px;    
        transform: translate(5px, 26px);
    }
    #boundBox {
        width: 84vw;
    }
    #exScroll {
        width: 15px;
        right: 20px;
    }
    #textInput {
        bottom: 50px;
    }
}
@media screen and (min-width: 600px) {
    .btnIcon {
        width: 55px;
        top: 25px;
        left: 25px;
    }    
    #toggleMode {
        top: 25px;
    }
    #ranDice {
        top: 90px;
    }
    #filter {
        top: 155px;
    }
    #filterBox {
        top: 155px;
        left: 95px;
    }
    #saveImg {
        top: 220px;
    }
    #record {
        top: 285px;
    }
    .textDiv {
        font-weight: 700;
        font-size: 100pt;
        line-height: 1.2;
        margin-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;    
    }
    .textCircle {
        width: 20px;
        height: 20px;    
        transform: translateY(78px);
    }
    #boundBox {
        width: 75vw;
    }
    #exScroll {
        width: 20px;
        right: 30px;
    }
    #textInput {
        bottom: 80px;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

input,
textarea,
select {
    font-size: 16px;
}

.day-mode {
    background: linear-gradient(0deg, rgb(255, 255, 255, 1) 80%, rgba(220,220,220,1) 100%);
}

.night-mode {
    background: linear-gradient(0deg, rgba(55,55,55,1) 0%, rgba(0,0,0,1) 20%);
}

.whiteText {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.blackText {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}


body {
    font-family: "Noto Sans KR", sans-serif;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.non-clickable {
    pointer-events: none;
}

#exScroll {
    mix-blend-mode: screen;
    border-radius: 10px;
    background: #ccc;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
}

.btnIcon {
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#record {
    display: none;
}

#filterBox {
    position: absolute;
    padding: 12px 15px 15px 15px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: solid white 2.5px;
    border-radius: 20px;
    font-weight: 700;
}
#tempo {
    margin-bottom: 10px;
}

#textInput {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#boundBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
}

#container {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.textDiv {
    word-break: keep-all;
    word-wrap: break-word;
    overflow: visible;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.textCircle {
    border-radius: 50%;
    background-color: #ff0000;
    display: inline-block;
    opacity: 0.0;
    position: absolute;
  }

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

.bouncing {
    animation: scaleAnimation 1s cubic-bezier(.15,.8,.6,1) forwards;
}

#threeCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

